.container {
  padding: 0 1rem 2rem 1rem;
  flex: 1;
}

.tranding {
  max-width: 1200px;
  margin: auto;

  & > h2 {
    margin: 2rem 0;
    text-align: center;
  }
}

.posters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  min-height: calc(100vh - 444px);
}

.canNotLoad {
  text-align: center;
}

.pagesRow {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.arrowNav {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px grey;
    border-radius: 50%;
  }
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 992px) {
  .posters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .posters {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .posters {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}