.container {
  padding: 0 1rem 2rem 1rem;
}

.tranding {
  max-width: 1200px;
  margin: auto;

  & > h2 {
    margin-bottom: 3rem;
  }
}

.posters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.canNotLoad {
  text-align: center;
}