.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./hero-placeholder.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  padding: 7rem 0;
}

.wrap {
  max-width: 1200px;
  margin: auto;
}

.descriptor {
  max-width: 576px;

  &>h1 {
    font-size: 5rem;
    margin-top: 0;
  }

  &>p {
    color: lightgray;
  }
}