.controls {
  display: flex;
  justify-content: space-around;
  background: #333555;
  width: 100%;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
}

.absolute {
  z-index: 4;
  position: absolute;
  top: 0;
  margin: 0 !important;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    transform: scale(1.1);
  }

  &:global(.fa-heart) {
    color: pink;
  }

  &:global(.fa-check) {
    color: lightgreen;
  }

  &:global(.fa-clock) {
    color: lightskyblue;
  }
}

.wrap {
  position: relative;
  padding: 0.5rem;
}

.cross {
  font-size: 1.2rem;
  color: tomato;
  position: absolute;
  top: 0;
  right: 0;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .controls {
    margin: 1rem auto;
  }
}
