.actorCard {
  position: relative;
  flex: 0 0 24%;
  border: 1px solid gray;
  background-color: #17181b;
  border-radius: 1rem;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 1%;
  }

  & > img {
    position: relative;
    z-index: 2;
  }
}

.spinnerContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.spinner {
  margin: 50% auto;
  display: block;
  width: fit-content;
  font-size: 5rem;
  animation: rotate 2s linear infinite;
}

.actorInfo {
  padding: 1rem;
  text-align: center;

  & > p {
    margin-bottom: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  .actorCard {
    flex: 0 0 32.5%;
  }
}

@media only screen and (max-width: 768px) {
  .actorCard {
    flex: 0 0 49.5%;
  }
}

@media only screen and (max-width: 576px) {
  .actorCard {
    flex: 0 0 100%;
  }
}