.container {
  max-width: 1200px;
  margin: auto;
  & > h1 {
    text-align: center;
  }
}

.lists {
  display: flex;
  min-height: calc(100vh - 200px);
}

.controls {
  background: #333555;
  padding: 1rem 0.5rem;
  border-radius: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.icon {
  composes: icon from '../ControlRow/ControlRow.module.scss';
  font-size: 2rem;
  text-decoration: none;
}
