.container {
  max-width: 1200px;
  margin: auto;
  & > h1 {
    text-align: center;
  }
}

.lists {
  display: flex;
  align-items: baseline;
}

.controls {
  transform: translateY(80px);
  background: #333555;
  padding: 1rem 0.5rem;
  border-radius: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.icon {
  composes: icon from '../ControlRow/ControlRow.module.scss';
  font-size: 2rem;
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 150%;
  }

  &:not(:first-child) {
    margin-top: 150%;
  }
}
