.list {
  display: flex;
  list-style: none;
  padding: 0;

  & a {
    text-decoration: none;
    color: ghostwhite;
    padding: 1.1rem;
    transition: 0.3s linear;
  }
}

.activeLink {
  background-color: #282a2d !important;
  color: white !important;
  text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
  .list {
    display: block;
    margin: 0;

    & > li {
      text-align: center;
      margin: 0.5rem 0;
      border: 1px solid #555;
    }

    & a {
      display: block;
    }
  }
}
