.header {
  z-index: 998;
  position: sticky;
  top: 0;
  background: #17181b;
  border-bottom: 1px solid #555;
}

.container {
  background: inherit;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}