.container {
  z-index: 998;
  position: sticky;
  top: 0;
  padding: 0 1rem;
  background: #17181b;
  border-bottom: 1px solid #555;
}

.header {
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
}

.menu {
  background: inherit;
  flex: 1;
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.burgerCheckbox {
  display: none;

  &:checked ~ .menu {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 1px));
    margin-left: -1rem;
    width: 100%;
    height: calc(100vh - 100%);
    padding: 0 1rem;
    flex-direction: column-reverse;
    align-items: initial;
    justify-content: flex-end;
  }

  .burger {
    display: block;
  }
}
