.container {
  background: #17181b;
  border-top: 1px solid #555;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  margin: auto;
  max-width: 1200px;
  color: gainsboro;

  & img {
    height: 4rem;
    margin-right: 1rem;
    object-fit: contain;
  }
}

.list {
  list-style: none;

  a {
    margin-left: 0.5rem;
    color: white;
    text-decoration: none;
  }

  li {
    display: list-item;

    &:not(:last-of-type) {
      margin-bottom: 0.2rem;
    }
  }
}
