.container {
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  flex-direction: row-reverse;
  background: inherit;
}

.input {
  z-index: 1;
  width: 2rem;
  margin-right: -2rem;
  background: inherit;
  color: inherit;
  border: 1px solid #555;
  border-radius: 1.5rem;
  transition: 0.5s linear;
  outline: none;

  &:hover,
  &:focus {
    width: 100%;
    padding: 0 3.1rem 0 1rem;
    box-shadow: 0 0 3px 3px #505050;
  }
}

.icon {
  z-index: 2;
  background: inherit;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #555;

  &:hover + .input {
    width: 100%;
    padding: 0 3.1rem 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0.5rem 0;
    flex-direction: row;
    flex: none;
  }

  .input {
    margin: 0 0 0 -2rem;
    &:hover,
    &:focus {
      padding: 0 1rem 0 2rem;
    }
  }

  .icon {
    &:hover + .input {
      padding: 0 1rem 0 2rem;
    }
  }
}
