.container {
  margin-top: 1rem;
}

.starsWrap {
  width: fit-content;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
}

.star {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: 0.5s;

  &:hover {
    color: orange;
    transform: scale(1.1);
  }

  &:hover ~ .star {
    color: orange;
  }
}
